#root {
  
  margin: 15px ;
  padding: 0;
  box-sizing: border-box;

  text-align: center;
}


.read-the-docs {
  color: #888;
}
.contenedor{
  background-color: rgb(55, 56, 56);
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;


}


.title{
  color:  rgb(14, 37, 14);
  font-size: 2rem;
  text-align: center;
  margin: 0 20px 20px 0;


}
.caja-a{
  display: flex;
  flex-direction: row;
}

.listado{
  background-color: rgb(104, 100, 100);
  color: white;
  padding:40px;
}