#root {
  
  margin: 15px ;
  padding: 0;
  box-sizing: border-box;

  text-align: center;
}


.read-the-docs {
  color: #eee6e6;
}
.contenedor{
  background-color: rgb(9, 10, 10);
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;


}


.title{
  color:  rgb(9, 150, 68);
  font-size: 2rem;
  text-align: center;
  margin: 0 20px 20px 0;


}
.caja-a{
  display: flex;
  flex-direction: row;
}

.listado{
  background-color: rgba(31, 31, 32, 0.733);
  color: rgb(243, 243, 243);
  padding:40px;
}

